html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map_4f5f9d848005489ba785ca362be66ab5 {
    position: relative;
    width: 100.0%;
    height: 600px;
    left: 0.0%;
    top: 0.0%;
}