<div class="row">
    <div class="col-12">
        <div class="mb-5">
            <h2>We Need Your Help</h2>
            <div class="mb-4">
                <img src="/uploads/no-one-is-coming-transparent.png" style="width:300px" alt="No on is coming, it's up to us!" />
            </div>
            <p>No matter what your background is, we would love to put it to use! Code for Buffalo isn't just about building software; we're about making our community work better, and that means we need help from everyone:
            </p>
            <ul>
                <li>
                    <p class="mb-1"><strong>Subject-Matter Experts and Passionate People</strong></p>
                    <p>The people building technology solutions usually are not experts in the field. Whether your professional experience matches up with our projects, or whether you just have an interest that you're willing to pursue further than most, if you are willing to dig in deep and provide context and guidance to our developers then we need your help.
                    </p>
                </li>
                <li>
                    <p class="mb-1"><strong>Project Managers and Problem Solvers</strong></p>
                    <p>Any project that is going to have an impact needs someone to set the course and clear the hurdles. If you have a gift for seeing the big picture and tackling problems before they reach you, then you have a place with Code for Buffalo.
                    </p>
                </li>
                <li>
                    <p class="mb-1"><strong>Designers and User Experience</strong></p>
                    <p>If you have an aesthetic eye and an understanding of why people make the decisions they do, then you know how important good design is to a project. The goal of Code for Buffalo is to make the systems that surround us work better for all of us. If you can take a good thing and make it better, then we need your help.
                    </p>
                </li>
                <li>
                    <p class="mb-1"><strong>Advocates and Evangelists</strong></p>
                    <p>Sadly, just because we build it doesn't mean anyone will come. For our effort to have an impact, our projects need to be visible to both the people who will benefit from them, and the people who are in a position to recommend them. We need people to help our stuff be used, adopted, and maybe even redistributed to other brigades across the country.
                    </p>
                </li>
                <li>
                    <p class="mb-1"><strong>Governments and Non-Profits</strong></p>
                    <p>We need to know what our community needs and we need stewards to share ownership of the projects. If you work with government or an organization that wants to make Buffalo and Western New York better for everyone, then we need your help.
                    </p>
                </li>
                <li>
                    <p class="mb-1"><strong>Coders and Technologists</strong></p>
                    <p>You are where the rubber hits the road on most of our projects. Come work with us and learn some new tools and try out some new skills. It's going to be a lot of fun because you're not going at this alone - you'll have the benefit of all the skills seen above. Let's build things the world really *needs* - we need your help!
                    </p>
                </li>
            </ul>
        </div>

        <div class="text-center mb-5">
            <a href="https://goo.gl/forms/wfWaDwOluEeZvKKr1" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-hand-paper"></i>I want to help</a>
        </div>

        <div class="mb-4">
            <h3>Come to the Meetups</h3>
            <p>
                Our projects typically meet on their own schedules, but an easy way to get involved is to come to one of our <a href="https://www.meetup.com/Code-for-Buffalo-Code-for-America-of-Western-New-York/">meetups</a>. They kick off with some social time to mingle, chat, and grab a bite to eat. Then we hear announcements about ongoing projects or needs the community has, followed by either a guest speaker, special presentation, or discussion topic. After that, there's time to break out into groups to work on projects or just continue good conversations. If you have a suggestion for a meetup, send us an email at <a href="mailto:leadership@codeforbuffalo.org?subject=Meetup%20Suggestion">leadership@codeforbuffalo.org</a>
            </p>
        </div>
        <div class="mb-4">
            <h3>Join the Conversation</h3>
            <p>
                We keep the conversation going between meetups on our [Facebook Group](https://www.facebook.com/groups/1312675832188711/) and on Slack - a mix between a group chat and an online forum. Each project and proposal can have its own slack channel so it's easy to see what people are up to and if it's something you want to join. There is also a <a href="https://codeforbuffalo.slack.com/"><strong>#general</strong></a> channel where general discussion takes place. If you haven't used Slack before, it's easy – just <a href="https://join.slack.com/t/codeforbuffalo/shared_invite/enQtMzk5NzA5MjA4NTQ0LWNlY2UyOWJlZWUxMjQ0NTE1M2RlOWNjNDcyNzkwZmYxNDY4MDE5ZGNhZjNhOWY4MWU2OWRhNGMzNzUwMmEzMTk">request an invitation here</a> and you'll receive an email with more directions.
            </p>
        </div>
        <div class="mb-4">
            <h3>If You're Still Looking for Something Else…</h3>
            <p>
                You can always contact our brigade captains directly. If you have other kinds of questions,<a href="mailto:mike@codeforbuffalo.org?subject=Getting%20Started%20with%20Code%20for%20Buffalo">Mike Brown</a> and <a href="mailto:ashley@codeforbuffalo.org?subject=Getting%20Started%20with%20Code%20for%20Buffalo">Ashley Smith</a> can probably help you out.
            </p>
        </div>
    </div>
</div>
