<footer>

    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p><i class="fa fa-code"></i> Code for Buffalo, a Code for America Brigade
                    <br><i class="fa fa-building"></i> Buffalo, NY
                    <br><i class="fa fa-paper-plane"></i> info@codeforbuffalo.org
                    <br><i class="fa fa-code-branch"></i> Forked on GitHub from <a href="https://github.com/opensavannah/opensavannah.org">Open Savannah</a></p>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled float-right">
                    <li><a href="https://www.facebook.com/CodeForBuffalo"><i class="fab fa-facebook" target="_blank"></i></a></li>
                    <li><a href="https://twitter.com/codeforbuffalo"><i class="fab fa-twitter" target="_blank"></i></a></li>
                    <li><a href="https://github.com/CodeForBuffalo"><i class="fab fa-github" target="_blank"></i></a></li>
                    <li><a href="https://www.meetup.com/Code-for-Buffalo-Code-for-America-of-Western-New-York/"><i class="fab fa-meetup" target="_blank"></i></a></li>
                    <!--li><a href="http://www.medium.com/open-savannah/"><i class="fab fa-medium" target="_blank"></i></a></li-->
                </ul>
            </div>
        </div>
    </div>

</footer>

</body>

<!-- Bootstrap and full jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
