<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=486354278076833";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <header class="site-header">

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style=background-color:#0068d6>
            <a class="navbar-brand" href="/"><img src="/images/navbarlogo.png" height="35" alt="Code for Buffalo" /></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="aboutDropdown" data-toggle="dropdown"><span>ABOUT</span></a>
                        <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <a class="dropdown-item" href="/who-we-are">
                                <i class="fa fa-users"></i><span>Who We Are</span>
                            </a>
                            <a class="dropdown-item" href="/what-we-do">
                                <i class="fa fa-wrench"></i><span>What We Do</span>
                            </a>
                            <a class="dropdown-item" href="/our-mission">
                                <i class="fa fa-university"></i><span>Mission and Values</span>
                            </a>
<!--
                            <a class="dropdown-item" href="/core-beliefs">
                                <i class=""></i><span>Our Guiding Patterns</span>
                            </a>
                            <a class="dropdown-item" href="/diversity-statement">
                                <i class="fa fa-universal-access"></i><span>Diversity and Inclusion</span>
                            </a>
                            <a class="dropdown-item" href="/project-list">
                                <i class="fa fa-cogs"></i><span>Our Projects</span>
                            </a>
-->
                            <a class="dropdown-item" href="/code-of-conduct">
                                <i class="fa fa-code"></i><span>Code of Conduct</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><span>GET INVOLVED</span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/getting-started">
                                <i class="fa fa-arrow-right"></i><span>Quickstart Guide</span>
                            </a>
                            <a class="dropdown-item" href="https://www.meetup.com/Code-for-Buffalo-Code-for-America-of-Western-New-York/" target="_blank">
                                <i class="fa fa-calendar"></i><span>Show Up (Meetup)</span>
                            </a>
                            <a class="dropdown-item" href="https://goo.gl/forms/CIgir1eDJh6Qn90n1" target="_blank">
                                <i class="fa fa-cogs"></i>Suggest a Project
                            </a>
                            <a class="dropdown-item" href="https://www.facebook.com/groups/1312675832188711/" target="_blank">
                                <i class="fa fa-comments"></i><span>Discuss/Discover Shared Knowledge (Facebook Group)</span>
                            </a>
                            <a class="dropdown-item" href="https://join.slack.com/t/codeforbuffalo/shared_invite/enQtMzk5NzA5MjA4NTQ0LWNlY2UyOWJlZWUxMjQ0NTE1M2RlOWNjNDcyNzkwZmYxNDY4MDE5ZGNhZjNhOWY4MWU2OWRhNGMzNzUwMmEzMTk" target="_blank">
                                <i class="fab fa-slack-hash"></i><span>Chat With Us (Slack)</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://data.buffalony.gov/" target="_blank">
                            <i class="fa fa-database"></i><span>OUR DATA</span>
                        </a>
                    </li>
<!--
                    <li class="nav-item">
                        <a class="nav-link" href="" target="_blank" style=color:#ffffff>
                            <i class="fa fa-rss" style=color:#ffffff></i><span>BLOG</span>
                        </a>
                    </li> 
-->
                    <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <i class="fa fa-paper-plane"></i><span>CONTACT</span>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://secure.codeforamerica.org/page/contribute/donate-to-a-brigade-today?source_codes=Brigade-page&brigade=Code%20for%20Buffalo" target="_blank">
                            <i class="fa fa-gift"></i><span>DONATE</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0075/4162.js" async="async"></script>
