<div class="row">
  <div class="col-md-12">
    <h3>Local Civic Innovators and Creative Problem-Solvers</h3>
    <p class="lead">We are civic-minded residents committed to working with the City of Buffalo, Erie County and other municipalities in Western New York – as well as other nonprofit organizations – to make our region stronger. We’re here to help and eager to learn from professional public servants. And while we’re advocates for open government (we can’t build apps without open data!), we’re non-partisan and public-minded.</p>
    <p class="lead">We're a group of civic-minded technologists, designers, subject-matter experts, data people, public servants, community leaders, and other extraordinary citizens. We work in partnership with government, non-profit, and technical partners to deploy technology to improve quality of life for <em>all</em> residents and increase citizen engagement with civic issues.</p>
    <p class="lead">Ultimately, our goal is to make life better for residents by improving personal and collective outcomes through helping build local government services that are <em>better, faster, and cheaper</em> and have the greatest impact for the greatest amount of people who have the greatest need for assistance and efficient public services.</p>
    </div>
    </div>

<div class="row">
  <div class="col-md-12">
    <h3>Code for Buffalo Leadership</h3>
    <p class="lead">Code for Buffalo is led by a Core Team that organizes events, manages strategic partnerships, and ensures fluid communication among cross-functional project teams. The Core Team oversees volunteer management, organizational sustainability, and day-to-day operations.


<div class="row">
  {% for member in site.data.senior_leadership %}
    <div class="col-xs-4">
      <img class="img-responsive img-circle" src="/images/headshots/{{ member.headshot }}">
      <h4>{{ member.name }}</h4>
      <h5>{{ member.title }}</h5>
      <ul class="list-unstyled horizontal-icons text-center">
        <li><a href="mailto:{{ member.email }}?subject=Code%20for%20Buffalo"><i class="fas fa-envelope"></i></a></li>
        <li><a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter" target="_blank"></i></a></li>
        <!--li><a href="https://github.com/{{ member.github }}"><i class="fab fa-github" target="_blank"></i></a></li-->
        <li><a href="{{ member.linkedin }}"><i class="fab fa-linkedin" target="_blank"></i></a></li>
      </ul>
    </div>
        <!-- if last column in row -->
          {% if forloop.counter | divisibleby:"4" and not forloop.last %}
            </div><div class="row">
          {% endif %}
  {% endfor %}
</div>


<!--
{% for member in site.data.senior_leadership %}
<div class="row cushion-bottom">
  <div class="col-xs-4 text-center">
    <img class="img-responsive img-circle" src="/images/headshots/{{ member.headshot }}">
    <h4>{{ member.name }}</h4>
    <h5>{{ member.title }}</h5>
    <ul class="list-unstyled horizontal-icons text-center">
      <li><a href="mailto:{{ member.email }}?subject=Code%20for%20Buffalo"><i class="fas fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter" target="_blank"></i></a></li>
      <li><a href="https://github.com/{{ member.github }}"><i class="fab fa-github" target="_blank"></i></a></li>
      <li><a href="{{ member.linkedin }}"><i class="fab fa-linkedin" target="_blank"></i></a></li>
    </ul>
  </div>
  <div class="col-xs-8">
    <p>{{ member.bio }}</p>
  </div>
</div>
{% endfor %}
-->
