<div class="row">
    <div class="col-md-12">
        <div class="mb-5">
            <p class="h3 mb-4">
                We build digital tools with <span class="text-primary">communities</span> to create the <span class="text-primary">change they want to see</span>
            </p>
            <div class="mb-4">{% include youtubePlayer.html id=page.youtubeId %}</div>
            <p>
                Code for Buffalo teams up with local government, non-profits, and community organizations by using the practices of the internet age to:
            </p>
            <ul>
                <li>Expand access to digital skills </li>
                <li>Build tools to address civic and social needs </li>
                <li>Enhance public services and quality of life </li>
                <li>Promote transparency and open government </li>
                <li>Facilitate dialogue on the role of technology in our communities </li>
                <li>Deepen civic engagement and participation </li>
            </ul>
            <p>
                But what do those projects actually look like?
            </p>
            <p>
                <a href="https://brigade.codeforamerica.org/showcase">Here are some highlights from around the Code for America Brigade Network:</a>
            </p>
            <ul>
                <li>
                    <b>Courtbot</b> gives residents easy-to-understand information about resolving citations and timely reminders about upcoming court dates.
                </li>
                <li>
                    <b>ReEntry Resources Hub</b> is a website providing high-quality information and resources to residents reentering society after a period of incarceration, as well as those dealing with the consequences of a previous conviction.
                </li>
                <li>
                    <b>Housing Insights</b> assembles essential information on subsidized affordable housing and connects it to relevant outside data, to support the work of the affordable housing community and decision makers.
                </li>
            </ul>
        </div>
        <div>
            <h3 id="technology-for-good">Technology for Good – or "Civic Tech"</h3>
            <img src="https://cdn-images-1.medium.com/max/900/1*BrHqxyh9_lRVVxtjldTmZQ.png" width="380">

            <p>
                <caption>The Knight Foundation classifies 'civic tech' as intersectional in nature.</caption>
            </p>
            <p>Useful Readings and Articles</p>
            <ul>
                <li>
                    <a href="https://medium.com/@CivicWhitaker/what-is-civic-tech-b61a58c3eba8#.ggopsiyod">What is Civic Tech?</a>
                </li>
                <li>
                    <a href="https://sunlightfoundation.com/blog/2014/09/29/civic-wants-civic-needs-civic-tech/">Civic Wants, Civic Needs, Civic Tech</a>
                </li>
                <li>
                    <a href="https://medium.com/@joshuatauberer/so-you-want-to-reform-democracy-7f3b1ef10597#.hvobj5y9p">So you want to reform democracy?</a>
                </li>
                <li>
                    <a href="https://medium.com/organizer-sandbox/building-technology-with-not-for-communities-an-engagement-guide-for-civic-tech-b8880982e65a">Building Technology With, Not For Communities</a>
                </li>
            </ul>
            <p>
                We share a mission with the national organization, <a href="http://codeforamerica.org">Code for America</a>:
            </p>
            <blockquote class="blockquote border rounded p-4">
                <p>We build open source technology and organize a network of people dedicated to making government services simple, effective, and easy to use.</p>
                <p class="mb-0">We build civic applications by advocating for <a href="http://okfn.org">Open Data</a> policies and access that then empower residents to put data into new civic use-cases. </p>
            </blockquote>
            <p>
                We leverage technology as a tool to connect citizens with community resources and each other. These connections empower citizen-driven solutions to problems previously addressed only by top-down approaches. New forms of civic engagement help governments do more with less and enhance the effectiveness and efficiency of public services.
            </p>
        </div>
    </div>
</div>
