<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" class="editable">Wed. September 11 @ 6pm: Civic Hack Night: Projects 101</h2>
        <p class="text-center" class="editable">Ready to Code for Buffalo? Join us in hearing Jonathan Gorczyca of Helm Experience & Design talk about taking a project from idea to reality.</p>
      <h1 class="text-center"><a href="https://www.meetup.com/CodeForBuffalo/events/264220477/" target="_blank"><i class="fa fa-calendar"></i></a></h1>
          <p class="text-center"><a href="https://www.meetup.com/CodeForBuffalo/events/264220477/" target="_blank" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
