<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" class="editable">Thur. Sept. 20th @ 6pm: Code & Coffee Hack Night</h2>
        <p class="text-center" class="editable">Ready to Code for Buffalo? This Code & Coffee hack night offers designated time for project teams to meet in-person and get some real work done. There's no formal agenda for these meetups unlike our Civic Innovation Nights.
</p>
      <h1 class="text-center"><a href="https://www.meetup.com/CodeForBuffalo/events/254764850/" target="_blank"><i class="fa fa-calendar"></i></a></h1>
          <p class="text-center"><a href="https://www.meetup.com/CodeForBuffalo/events/254764850/" target="_blank" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
