<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" class="editable">Wed. July 17 @ 6pm: Civic Innovation Night</h2>
        <p class="text-center" class="editable">Ready to Code for Buffalo? Join us for our Civic Innovation Nights where we get together as a community, work on projects, and build the movement of using data, technology, and design for a better Buffalo!</p>
      <h1 class="text-center"><a href="https://www.meetup.com/CodeForBuffalo" target="_blank"><i class="fa fa-calendar"></i></a></h1>
          <p class="text-center"><a href="https://www.meetup.com/CodeForBuffalo" target="_blank" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
