<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"8cb53edd784a0b3afcd0e387d","lid":"a8613b38de"}) })</script>
<div class="jumbotron bg-img">
  <div class="jumbotron-wrapper">
    <div class="container">
      <h1 class="drop-shadow">We are Code for Buffalo</h1>
      <p class="drop-shadow">As a Code for America Brigade, we're part of a national network of civic-minded volunteers using technology for the public good. No tech experience needed... just bring your passion to help build a stronger, smarter, and more equitable Buffalo.</p>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center"><a href="http://eepurl.com/dA-KWL" class="btn btn-primary btn-lg"><i class="fa fa-envelope"> </i>   Stay Updated</a></p>
          </div>
        </div>
      <!-- {% include shared/email_sign_up_form.html %}-->
    </div>
  </div>
</div>
