<section id="main-description" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="mb-4">What does Code for Buffalo do?</h2>
                <div class="mb-5">
                    {% include youtubePlayer.html %}
                </div>
                <div class="mb-4">
                    <p class="h3">
                        We build digital tools with <span class="text-primary">communities</span> to create the <span class="text-primary">change they want to see</span>
                    </p>
                    <p>
                        Code for Buffalo uses the practices of the digital age to team up with local government and the Buffalo community in order to expand access to technology and digital skills, enhance public services and quality of life, and deepen civic engagement and participation. We're a citizen-driven platform for government innovation, and we use open data, design, and creative technology as a mode for civic engagement.
                    </p>
                    <p>
                        We pull together Western New York's best resources to amplify our collective civic impact.
                    </p>
                </div>
                <div class="mb-4">
                    <h4>A Code for America Brigade</h4>
                    <p>
                        Code for Buffalo is among dozens of local volunteer groups that are part of the larger <a href="https://brigade.codeforamerica.org/">Code for America ecosystem</a>.
                    </p>
                </div>
                <div class="mb-4">
                    <h4>Catalyzing the Open Data Ecosystem</h4>
                    <p>
                        Open data not only fuels our work and promotes transparency and accountability, but also helps create a <a href="https://www.mckinsey.com/business-functions/digital-mckinsey/our-insights/open-data-unlocking-innovation-and-performance-with-liquid-information">massive economic impact</a>.
                    </p>
                </div>
                <div>
                    <h4>Code for Buffalo is for everyone</h4>
                    <p>
                        If you think you won't fit in because you don't consider yourself a 'tech person,' we assure you there are plenty of ways to get involved.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Latest from Twitter</h4>
                <a href="https://twitter.com/CodeForBuffalo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CodeForBuffalo</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                {% include shared/twitter-widget.html %}
            </div>
        </div>
    </div>
</section>
