<div class="jumbotron bg-img">
  <div class="jumbotron-wrapper">
    <div class="container">
      <h1 class="drop-shadow">We are Code for Buffalo</h1>
      <p class="drop-shadow">As a Code for America Brigade, we're part of a national network of civic-minded volunteers using technology for the public good. No tech experience needed... just bring your passion to help build a stronger, smarter, and more equitable Buffalo.</p>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center"><a href="https://codeforbuffalo.org/contact/" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-envelope"> </i>   Stay Updated</a></p>
          </div>
        </div>
    </div>
  </div>
</div>
