<div class="jumbotron jumbotron-fluid bg-img">
    <div class="jumbotron-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="text-center text-white">
                        <h1>We are Code for Buffalo</h1>
                        <p>As a Code for America Brigade, we're part of a national network of civic-minded volunteers using technology for the public good. No tech experience needed... just bring your passion to help build a stronger, smarter, and more equitable Buffalo.</p>
                        <a href="http://eepurl.com/dA-KWL" target="_blank" class="btn btn-primary btn-lg">
                            <i class="fa fa-envelope"></i><span>Stay Updated</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
