<section id="supporters" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Our Supporters</h3>
                <p>We rely on the help of financial, in-kind supporters and government partners to sustain our efforts tactically and financially. While Code for America subsidizes our operating costs, if Code for Buffalo is to continue its mission we will soon need the financial support of local sponsors. By supporting Code for Buffalo with a tax-deductible contribution, your organization will receive recognition at our events and through our many communications channels. Funds go directly toward web hosting, events, and food and beverages for our awesome volunteers.</p>
            </div>
        </div>

        <div class="row">
            {% for supporter in site.data.supporters %}
            <div class="col d-flex align-items-center">
                <a class="d-block" href="{{ supporter.website }}" target="_blank">
                    <img class="img-fluid" src="/images/supporters/{{ supporter.logo }}" alt="{{ supporter.name }}">
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <a class="btn btn-lg btn-block btn-danger" href="https://secure.codeforamerica.org/page/contribute/donate-to-a-brigade-today?source_codes=Brigade-page&brigade=Code%20for%20Buffalo" role="button" target="_blank">Donate Now</a>
            </div>
        </div>
    </div>
</section>
